b a, b a:hover {
    color: black;
}

input[type="checkbox"]{
    margin-left: 10px;
}

.register-from {
	width: 500px;
}

.link-button-color {
    color: #fff;
}

.link-button-color:hover {
    text-decoration: none;
    color: #333;
}

.btn-group {
	padding-top: 10%;
}

.navig:hover {
	background-color: #EEEEEE;
	border-radius: 5px;
}

.btn-read {
    background: transparent;
    border-radius: 0;
    border: 1px solid #ffffff;
    color: #fff;
}

.section-box-eleven{
    height: 250px;
    background: radial-gradient(#6e6e6e,#2f2f2f);
    background: -webkit-radial-gradient(#6e6e6e,#2f2f2f);
    background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
    color: #fff;
    position: relative;
    overflow:hidden;
    margin-bottom: 25px; 
}

.section-box-eleven a{
    color: #fff;
}

.section-box-eleven figure {
    position: absolute;
    padding: 10px 15px;
    width: 100%;
    bottom: -25%;
    transition: ease-in-out .5s;
    background: rgba(0, 0, 0, 0.71);
    border-top: 1px solid #fff;
}
.section-box-eleven:hover figure {
    bottom: 0;
}

.section-box-eleven img{
    height: 100%;
}

.table-inbox tr.unread td {
    background: none repeat scroll 0 0 #f7f7f7;
    font-weight: 600;
}